.i-dashboard-navigator-root-frame .breadcrumb {
    padding: 10px;
    align-content: center;
}
.i-dashboard-navigator-root-frame li.breadcrumb-item, li.breadcrumb-item a {
    font-size: 1.4rem;
}
.i-dashboard-navigator-root-frame ol {
    background-color: #f3f3f3;
}
.homeButton {
    font-size:1.2rem;
    text-decoration: none;
 
}

.homeLink {
  text-decoration: none !important;
}
